body {
    font-family: Manrope;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1400px;
    box-sizing: border-box;
padding: 125px; 
 background: rgba(255, 255, 255, 1);
}

.interior {
position: relative;
    margin-top: 30px;
    height: 500px; 
    width: 1150px; 
    background-image: url('../images/photo1.png');

}

.image-text {
    position: absolute;
    padding-top: 379px;
    padding-left: 40px;
    padding-right: 680px;
    padding-bottom: 40px;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.03em;
text-align: left;
color: white;
}

h1 {
font-size: 60px;
font-weight: 400;
line-height: 60px;
letter-spacing: -0.03em;
text-align: left;
padding-right:100px;
}

h2 {
    margin-top: 150px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
    text-transform: uppercase;
}
.discription {
margin-top: 30px;
font-size: 45px;
font-weight: 400;
line-height: 61px;
letter-spacing: -0.03em;
text-align: left;
}

a.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    background-color: rgba(173, 24, 24, 1);
    ;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}
.projects {
    margin-top: 30px;
    
}

.project__image {
    margin-bottom: 15px;
}

h3 {
 
font-size: 30px;
font-weight: 400;
line-height: 41px;
letter-spacing: -0.03em;
text-align: left;

}

.project__title {
    margin-bottom: 15px;

}
.project__link {
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.03em;
text-align: left;
color:  rgba(173, 24, 24, 1);
text-decoration: none;

}

.project {
margin-top: 90px;
} 

.projects :first-child {
    margin-top: 0;
}

.wullbtn {
    display: block;
    width: 1150px;
    height: 153px;
    line-height: 153px;
    border: 1px solid rgba(173, 24, 24, 1);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: rgba(173, 24, 24, 1);
    font-size: 30px;
    letter-spacing: -0.03em;
    
}

.wullbtn:hover {
    background-color:  rgba(173, 24, 24, 1);
    color: white;
}


section {
    padding: 70px 125px 0 125px;
}
section :first-child {
    margin-top: 0;
}

.section__black {
    background-color: black;
}

.section__black
 {
    box-sizing: border-box;
    width: 1400px;
    color: whitesmoke;
}

.section__long {
    padding-bottom: 150px;
}
.servises {
    margin-top: 34px;
}

.servise {
    margin-top: 60px;
    margin-bottom: 15px;
}

.servises :first-child {
    margin: 0;
}

.text {
    margin-top: 15px;
}


header {
    padding: 33px 125px 0 125px;

    
}


.nav__link {
margin-left: 60px;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.03em;
text-align: left;
text-decoration: none;
color: black;

}
.nav{
    float: right;
}

.nav__link:hover {
    color: rgba(0, 0, 0, 1);
    opacity: 0.5;
   border-bottom: 1px solid  rgba(0, 0, 0, 1) ;
}

.fullsection {
 height: 717px;
 width: 1150px;
 background-image: url('../images/Rectangle\ 10.png');
background-repeat: no-repeat;
background-size: cover; 
background-position: 50% 50%;
}

.fullimg{
width: 1400px;
height: 717px;
margin: 0 auto;
}

.fullimg__text {
font-size: 30px;
font-weight: 400;
line-height: 41px;
letter-spacing: -0.03em;
text-align: left;

color: white;

padding-top: 575px ;
padding-left: 20px;
padding-right: 950px;
padding-bottom: 60px;

}

.contacts__wraper {

    font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.03em;
text-align: left;


}

.contacts__wraper ::before {
    content: '';
    display: block;
    width: 13px;
    height: 22px;
 
    background-image: url('../images/Vector.png');
    padding-top: 12px;
    background-repeat: no-repeat;
    
}
.tel {
    margin: 0 auto;
    padding-top: 32px;
font-size: 60px;
font-weight: 400;
line-height: 60px;
letter-spacing: -0.03em;
text-align: left;
color: black;
text-decoration: none;

}

.mail {
font-size: 60px;
font-weight: 400;
line-height: 60px;
letter-spacing: -0.03em;
text-align: left;
color: rgb(157, 157, 161);


}
.cont__tel {
    padding-bottom: 30px;
}

.cont {
    padding-top: 32px;
    margin-bottom: 150px;
}

.foot {
    box-sizing: border-box;
    width: 1400px;
 margin: 0 auto;
background-color: black;

height: 229px;
padding-left: 470px;
}

.box {
padding-left: 53px;
 padding-top: 60px;

height: 25px;
display: inline-block;
box-sizing: border-box;



color: white;
}

.foot__text {
    padding-left: 100px;
    padding-bottom: 30px;
    margin: 0 auto;
    padding-top: 87px;
    color:  rgb(157, 157, 161);

font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.03em;
box-sizing: border-box;



}